logs
project/project
project/target
target
tmp
.history
dist
.idea
*.iml
.idea_modules
.classpath
.project
.metadata
.cache
RUNNING_PID
.settings
*.class
derby.log
metastore
.DS_Store
output/airline*
output/crawl*
output/sh*
output/kjv*
output/*wc*
output/inverted*
output/spark-sql*
output/streaming*
output/voldat*
output/*parquet
output/*json
output/*checkpoint*
output/Divvy
output/DivvyZip
project/.sbtserver
project/.sbtserver.lock
project/play-fork-run.sbt
project/sbt-ui.sbt
data/checkpoint
data/Divvy
.svn
tmp/**
node_modules/
.sass-cache
metastore_db
